@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  transition: all 0.4s ease;
  border: none;
  font-family: "Manrope", sans-serif;
}

input {
  border: none;
  outline: none;
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
}

body {
  font-family: "Manrope", sans-serif;
  background: #0f0f0f;
}

.page__wrapper {
  width: 100%;
  max-width: 1360px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

header,
.not__found {
  background: url(../assets/images/header-bg.png);
  background-position: center;
  background-size: cover;
  border-radius: 32px;
}

.not__found {
  padding: 45px 80px 27px;
}

nav {
  background: rgba(0, 0, 0, 1);
  padding: 45px 0;
  border-radius: 32px;
}

.nav__wrapper {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

header .nav__wrapper {
  border-bottom: 1px solid rgba(40, 40, 40, 1);
  padding: 45px 0;
}

header nav {
  padding: 0;
}

.logo p {
  color: #ffffff;
  margin-top: 7px;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
}

.services__btn {
  border-radius: 8px;
  background: rgba(0, 0, 255, 1);
  padding: 15px 16px 15px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 42px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.nav_left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.main__text p,
.main__text-24 p,
.main__text-18 p {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
}

.main__text-24 p {
  font-size: 24px;
  line-height: 33px;
}

.main__text-18 p {
  font-size: 18px;
  line-height: 25px;
}

.nav__menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.contact__number {
  display: flex;
  align-items: center;
}

.header__content {
  padding: 133px 0 120px;
}

.header__content h1 {
  color: #fff;

  font-size: 64px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 112px;
}

.main__btn {
  border-radius: 16px;
  background: rgba(0, 0, 255, 1);
  padding: 24px 48px 24px 48px;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
}

.line__btn {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.services__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin: 24px 0;
}

.services__card {
  border-radius: 32px;
  background: rgba(0, 0, 255, 1);
  position: relative;
  height: 243px;
  width: 100%;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.services__card-description {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: start;
  justify-content: space-between;
}

.services__card-description p span {
  font-size: 16px;
}

.fixed__mark {
  border-radius: 40px;
  padding: 8px;
}

.fixed__mark p {
  color: #fff;

  font-size: 12px;
  font-weight: 700;
  line-height: 100%;

  text-transform: uppercase;
}

.promo {
  background: rgba(255, 0, 29, 1);
  position: absolute;
  right: 40px;
  top: 40px;
  z-index: 1;
}

.services__card-img {
  position: absolute;
  right: 0;
}

.img__btm {
  bottom: 0;
}

.signup__services {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  background: #fff;
}

.signup__services p {
  color: #0f0f0f;
}

section {
  border-radius: 32px;
  padding-left: 80px;
  padding-right: 80px;
}

.selected__works {
  padding-top: 65px;
  padding-bottom: 65px;
  background: #fff;
}

.block__title h2 {
  color: rgba(40, 40, 40, 1);

  font-size: 56px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: left;
}

.block__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.arrow__link {
  padding: 0;
  width: 113px;
  height: 61px;
}

.works__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 48px;
}

.works__card-img {
  border-radius: 24px;
  height: 204px;
  position: relative;
  overflow: hidden;

  margin-bottom: 24px;
}

.works__card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photos__status {
  background: #fff;
  position: absolute;
  right: 24px;
  top: 24px;
}

.photos__status p {
  text-transform: lowercase;
  color: #0f0f0f;
}

.works__card-desc p {
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  color: #0f0f0f;
  margin-bottom: 22px;
}

.about__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__link span {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0px;
  color: #0f0f0f;
}

.socials {
  border-radius: 32px;
  background: rgba(245, 245, 245, 1);
  padding: 40px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socials h5 {
  color: #0f0f0f;

  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0px;
}

.social__item {
  width: 70%;
  padding: 24px 48px 24px 48px;
  border-radius: 16px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 10px;
}

.social__item p {
  color: #0f0f0f;
}

.payments {
  margin: 24px 0;
  background: rgba(30, 30, 30, 1);
  padding-top: 54px;
  padding-bottom: 54px;
}

.block__title-secondary h3 {
  font-size: 48px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0px;
}

.block__title-secondary p {
  margin-top: 22px;
}

.white * {
  color: #fff;
}

.dark * {
  color: #0f0f0f;
}

.payment__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 27px;
  margin-top: 32px;
}

.payment__card {
  padding: 24px 40px 24px 40px;
  border-radius: 16px;
  background: rgba(0, 0, 255, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.payment__cards .payment__card:last-child {
  padding: 24px 18px 24px 25px;
}

.payment__cards .payment__card:nth-child(2) {
  padding-right: 23px;
}

.why__we {
  padding-top: 75px;
  padding-bottom: 75px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 30px;
  background: rgba(0, 0, 255, 1);
}

.why__we-title {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.why__we-title p {
  max-width: 472px;
}

.why__we-cards {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px 40px;
}

.why__we-card .main__text-18 p {
  font-weight: 800;
  margin-bottom: 24px;
  text-transform: uppercase;
  margin-top: 32px;
}

.white__btn {
  background: #fff;
  color: #282828;
}

.reviews__block {
  background: #fff;
  padding-top: 72px;
  padding-bottom: 72px;
  margin: 24px 0;
}

.reviews__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 52px;
}

.review__item {
  border-radius: 12px;
  background: rgba(0, 0, 0, 1);
  padding: 24px 32px 40px;
}

.review__author {
  display: flex;
  align-items: center;
  gap: 21px;
  margin-bottom: 28px;
}

.news__block {
  padding-top: 60px;
  padding-bottom: 70px;
  background: rgba(30, 30, 30, 1);
}

.white h2 {
  color: #fff;
}

.arrow__link-w {
  background: #fff;
}

.news__block .news__list {
  margin-top: 40px;
}

.news__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px 15px;
}

.news__card-img {
  height: 260.07px;
  margin-bottom: 35px;
}

.news__card-img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 12.48px;
}

.news__card-desc .main__text-24 {
  margin-bottom: 16px;
}

.contacts__location {
  background: rgba(0, 0, 255, 1);
  margin: 24px 0;
  padding-top: 44px;
  padding-bottom: 44px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.contacts__description {
  padding-top: 47px;
}

.main__text-24 span {
  color: #fff;
}

.contact_phone div {
  display: flex;
  align-items: center;
  gap: 6px;
}

.contact__item {
  margin-bottom: 30px;
}

.contacts__description .block__title {
  margin-bottom: 90px;
}

.contacts__description p {
  line-height: 120%;
}

.contact__form-block {
  background: rgba(30, 30, 30, 1);
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.contact__form {
  border-radius: 22px;
  background: #fff;
  padding: 66px 56px 56px;
  width: 100%;
  max-width: 624px;
}

.dark p {
  color: #0f0f0f;
}

.contact__form-inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 65px 40px;
  margin: 60px 0;
}

.main__input {
  width: 100%;
  padding: 16px 0;
  border-bottom: 3px solid rgba(15, 15, 15, 0.29);

  color: #0f0f0f;
  font-family: Manrope;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0px;
}

.main__input::placeholder {
  color: rgba(15, 15, 15, 0.29);
}

.form__confirmation {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.form__confirmation input {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.form__send-btn {
  padding: 20px 54px 20px 54px;
  height: 57px;
  font-size: 24px;
  border-radius: 10px;
}

.contact__form-descs h3,
.contact__form-descs p {
  text-align: right;
}

.contact__form-descs .block__title-secondary {
  margin-bottom: 110px;
}

footer {
  border-radius: 32px;
  background: #fff;
  padding: 64px 56px 22px;
  margin-top: 24px;
}

.footer__main {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-bottom: 60px;
}

.footer__logo p {
  font-size: 14px;
}

.footer__menu-item p {
  margin-bottom: 8px;
}

.footer__menu-item h5 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
}

.footer__menu {
  display: flex;
  align-items: start;
  justify-content: flex-end;
  width: 75%;
  gap: 58px;
}

footer .contact_phone p {
  margin: 0;
}

.footer__main-contacts {
  margin-top: 66px;
}

.footer__main-contacts a:nth-child(1) div {
  margin-bottom: 15px;
}

.footer__btm {
  border-top: 0.7px solid rgba(0, 0, 0, 1);
  padding-top: 15px;
  padding-left: 25px;
}

.footer__btm p {
  font-size: 12px;
  font-weight: 400;
}

.page__content {
  background: #fff;
  padding-top: 85px;
  padding-bottom: 60px;
}

.page__content-title h2 {
  color: #0f0f0f;
  margin-top: 20px;
  font-size: 56px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 35px;
}

.blue {
  background: rgba(0, 0, 255, 1);
}

.black {
  background: rgba(30, 30, 30, 1);
}

.projects__list-item {
  border-radius: 16px;
  padding: 36px;
  margin-bottom: 24px;
}

.project__item-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 33px;
  margin-bottom: 27px;
}

.project__item-gallery img {
  border-radius: 24px;
  width: 100%;
}

.projects__list-description .main__text-24 {
  margin-bottom: 22px;
}

ul,
ol {
  padding-left: 20px;
}

.main__text-24 ol li::marker {
  font-size: 24px;
  font-weight: 500;
}

.main__text li {
  color: #fff;
}

.projects__list .about__link span {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.projects__list .about__link {
  margin-top: 22px;
  max-width: 265px;
}

.news__page-img img {
  width: 100%;
  margin-bottom: 35px;
}

.news__page-content {
  padding-bottom: 35px;
}

.sec__logo p {
  font-size: 8px;
  line-height: 100%;
}

.not__found-content h2 {
  font-size: 50px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0px;
  margin-bottom: 27px;
  text-align: center;
}

.not__found-content p {
  text-align: center;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 45px;
}

.not__found-content h1 {
  font-size: 400px;
  font-weight: 800;
  line-height: 546px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
}

.not__found-content .main__btn {
  height: 57px;
  padding: 22px 116px;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  margin: 0 auto;
  border-radius: 50px;
}

.service__page .news__page-img {
  margin-top: 20px;
}

.service__page .news__page-img img {
  margin: 0;
}

.service__page h3 {
  font-size: 44px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0px;
  margin-bottom: 32px;
  margin-top: 32px;
}

.services__sec {
  background: #fff;
  padding: 85px 80px;
  margin-top: 24px;
}

.services__sec-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 21px;
}

.services__sec .main__btn {
  border-radius: 60px;
  height: 50px;
  padding: 17px 57px;
  font-size: 24px;
  font-weight: 500;
  line-height: 33px;
}

.swiper {
  width: 100%;
  padding: 40px 0;
}

.works__cards-swiper {
  margin-top: 52px;
}

.works__cards-swiper .swiper-slide {
  max-width: 265px;
}

.selected__works,
.reviews__block {
  padding-right: 0;
}

.selected__works .block__title,
.reviews__block .block__title {
  padding-right: 80px;
}

.selected__works .socials {
  width: calc(100% - 80px);
}

.reviews__carousel {
  margin-top: 50px;
}

/* hovers */
.nav__menu p:hover,
.contact__number p:hover,
.main__text-24 p:hover span,
.footer__menu a:hover p,
.contacts__list a:hover p {
  text-decoration: underline;
}

.social__item {
  transition: all 0.4s ease;
}

button:hover,
.social__item:hover {
  opacity: 0.7;
}

.service__btn-wrapper {
  position: relative;
}

.service__modal {
  position: absolute;
  width: 385px;
  height: 553px;
  border-radius: 32px;
  background: rgba(0, 0, 255, 1);
  left: -34px;
  top: -17px;
  padding: 110px 34px 0 50px;
}

.services__btn {
  position: relative;
  z-index: 11;
}

.service__modal-menu {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 18px 0;
  transition: all 0.4s ease;
  border-bottom: 1px solid #fff;
}

.service__modal-menu:hover {
  transition: all 0.4s ease;
  opacity: 0.8;
}

.service__modal .service__modal-menu:last-child {
  border-bottom: none;
}

.service__modal {
  transition: all 0.4s ease;
  opacity: 0;
  visibility: hidden;
}

.service__modal-active {
  opacity: 1;
  visibility: visible;
  transition: all 0.4s ease;
}

.footer__main {
  gap: 30px;
}

.mob__menu-btn {
  background: transparent;
  padding: 5px;
  display: none;
}

.mob__menu-btn img {
  width: 22px;
}

.mob__menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: #0f0f0f;
  z-index: 111;
  padding: 20px;
  transform: translateX(100%);
  transition: all 0.4s ease;
}

.mob__menu-active {
  transition: all 0.4s ease;
  transform: translateX(0);

}

.exit__btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding-top: 8px;
  padding-right: 5px;
}

.exit__btn img {
  width: 30px;
}

.mob__menu .nav__menu {
  flex-direction: column;
  padding-top: 50px;
}

.mob__menu .nav__menu p {
  font-size: 23px;
}

@media only screen and (max-width: 1400px) {
  .page__wrapper {
    padding: 20px;
  }
}


@media only screen and (max-width: 1280px) {

  nav,
  .header__content {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  section {
    padding: 40px 20px !important;
  }

  .selected__works {
    padding-right: 0;
  }

  .selected__works .block__title,
  .reviews__block .block__title {
    padding-right: 20px;
  }

  .selected__works .socials {
    width: calc(100% - 20px);
  }
}

@media only screen and (max-width: 1024px) {

  nav .contact__number {
    display: none;
  }

  .mob__menu-btn {
    display: block;
  }

  nav .nav__menu {
    display: none;
  }

  nav .services__btn {
    padding: 6px 10px;
  }

  .service__modal {
    width: 250px;
    left: -80px;
    height: auto;
    padding: 60px 20px 0;
    top: -10px;
  }

  .service__modal-menu {
    padding: 14px 0;
  }

  .services__cards {
    grid-template-columns: repeat(2, 1fr)
  }

  .project__item-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 500px) {
  .page__wrapper {
    padding: 10px;
  }

  nav,
  .header__content {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  section {
    padding: 20px 15px !important;
  }

  .selected__works {
    padding-right: 0;
  }

  .selected__works .block__title,
  .reviews__block .block__title {
    padding-right: 10px;
  }

  .selected__works .socials {
    width: calc(100% - 10px);
  }

  header .nav__wrapper {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .logo img {
    width: 150px;
  }

  .logo p {
    margin-top: 0;
    font-size: 5px;
    display: none;
  }

  nav .contact__number {
    display: none;
  }



  .header__content {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  .header__content h1 {
    font-size: 30px;
    line-height: 120%;
  }


  .header__actions {
    margin-top: 40px;
    flex-direction: column;
    width: 100%;
  }

  .main__btn {
    width: 100%;
    height: 40px;
    font-size: 14px;
    gap: 5px;
    padding: 0;
    border-radius: 10px;
  }

  .services__cards {
    display: flex;
    flex-direction: column
  }

  .services__card {
    padding: 20px;
    height: 220px;
    border-radius: 10px;

  }

  header,
  .not__found {
    border-radius: 12px;
  }

  .signup__services {
    height: 40px;
    border-radius: 10px;
  }

  .promo {
    top: 20px;
    right: 20px;
  }

  .main__text-24 p {
    font-size: 18px;
    line-height: 120%;
  }

  .fixed__mark p {
    font-size: 13px;
  }

  .block__title h2 {
    font-size: 22px;
  }

  section {
    border-radius: 12px;
  }

  .arrow__link {
    width: 50px;
    height: 30px;
    border-radius: 4px;
  }

  .arrow__link img {
    width: 30px;
  }

  .works__cards-swiper {
    margin-top: 30px;
  }

  .works__card-desc p {
    font-size: 15px;
  }

  .works__card-img {
    margin-bottom: 10px;
  }

  .works__card-img {
    border-radius: 10px;
  }

  .photos__status {
    top: 12px;
    right: 12px;
  }

  .socials {
    margin-top: 30px;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .socials h5 {
    font-size: 13px;
    line-height: 120%;
    text-align: center;
  }

  .social__item {
    padding: 7px 10px;
    border-radius: 5px;
  }

  .block__title-secondary h3 {
    font-size: 22px;
    line-height: 120%;
  }

  .main__text-24 p {
    font-size: 14px;
    line-height: 120%;
  }

  .block__title-secondary p {
    margin-top: 10px;
  }

  .payment__cards {
    margin-top: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  .payment__card {
    padding: 10px 20px !important;
    border-radius: 5px;
  }

  .main__text p {
    font-size: 13px;
    line-height: 120%;
  }

  .why__we {
    display: flex;
    flex-direction: column;
  }

  .why__we-title,
  .why__we-cards {
    width: 100%;
  }

  .why__we-cards {
    gap: 20px;
  }

  .why__we-card img {
    width: 40px;
  }

  .why__we-card .main__text-18 p {
    margin: 12px 0;
    font-size: 15px;
    line-height: 120%;
  }

  .reviews__carousel {
    margin-top: 30px;
  }

  .review__item {
    padding: 15px;
  }

  .review__author {
    margin-bottom: 10px;
    gap: 12px;
  }

  .review__author img {
    width: 30px;
  }

  .news__block .news__list {
    margin-top: 30px;
  }

  .news__list {
    display: flex;
    flex-direction: column
  }

  .news__card-img {
    margin-bottom: 15px;
    height: 200px;
  }

  .news__card-desc .main__text-24 {
    margin-bottom: 7px;
  }

  .contacts__location {
    flex-direction: column;
    gap: 20px;
  }

  .location__map img {
    width: 100%;
  }

  .contacts__description {
    padding-top: 0;
  }

  .contacts__description .block__title {
    margin-bottom: 20px;
  }

  .contact__item {
    margin-bottom: 15px;
  }

  .contact__form-block {
    flex-direction: column;
  }

  .contact__form {
    padding: 20px;
  }

  .contact__form .contact__form-title p {
    font-size: 20px;
  }

  .contact__form-inputs {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .main__input {
    padding: 7px;
    font-size: 15px;
  }

  .form__confirmation input {
    width: 20px;
    height: 20px;
  }

  .contact__form-descs .block__title-secondary {
    margin-bottom: 20px;
  }

  .block__title-secondary h3,
  .block__title-secondary p,
  .main__text-24 p {
    text-align: left;
  }

  .contact__form-descs {
    width: 100%;
  }

  footer {
    border-radius: 12px;
    padding: 20px 10px;
  }

  .footer__main,
  .footer__menu {
    flex-direction: column;
    gap: 20px;
  }

  .footer__main-contacts {
    margin-top: 20px;
  }

  .footer__btm p {
    text-align: center;
  }

  .footer__main {
    padding-bottom: 20px;
  }

  footer .footer__logo img {
    width: 200px;
  }

  .page__wrapper {
    overflow: hidden;
  }

  .services__card-img {
    transform: scale(0.9);
  }

  .page__content-title h2 {
    font-size: 28px;
    line-height: 120%;
    margin: 20px 0;
  }

  .news__page-img img {
    margin-bottom: 20px;
    border-radius: 10px;
  }

  nav {
    border-radius: 12px;
    padding: 18px 10px;
  }

  .not__found {
    padding: 20px 15px;
  }

  .not__found-content h2 {
    font-size: 30px;
    line-height: 120%;
    margin-top: 60px;
  }

  .not__found br {
    display: none;
  }

  .not__found-content h1 {
    font-size: 150px;
    margin-top: 30px;
  }

  .not__found-content p {
    margin-bottom: 30px;
  }

  .not__found-content .main__btn {
    border-radius: 15px;
    padding: 6px;
    height: 47px;
    font-size: 17px;
    line-height: 100%;
  }

  .projects__list-item {
    padding: 20px 13px;
  }

  .project__item-gallery {
    gap: 10px;
  }

  .service__page h3 {
    margin: 15px 0;
    font-size: 25px;
  }

  .services__sec-cards {
    display: flex;
    flex-direction: column;
  }
  .services__sec .main__btn {
    position: relative;
    z-index: 1;
    border-radius: 12px;
    font-size: 18px;
    width: 100%;
  }
  .services__sec .services__card-description {
    width: 100%;
  }
}